<%= simple_form_for ([current_user, @contact ]), validate: true, html:{ multipart: true } do |f| %>
	
<!-- 	<%= render 'shared/error_messages' %> -->

	<%= f.input :name, placeholder: "Write contact's Full Name", label: false %>
	<%= f.input :homenum, placeholder: "Write contact's Home number", label: false %>
	<%= f.input :mobnum, placeholder: "Write contact's Mobile number", label: false %>
	<%= f.input :adress, placeholder: "Write contact's Adress", label: false %>
	<div class="form-group">
		<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Chose a category"}, {class: "form-control"} %>
	</div>
	<div class="form-group">
		<%= f.collection_select :gender_id, Gender.all, :id, :name, {prompt: "Gender"}, {class: "form-control"} %>
	</div>
	<div class="form-group">
		<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "contact-picture"  %>
	</div>
	
	<%= f.button :submit %>
<% end %>


<script type="text/javascript">
  $('#contact-picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>