<div class="contact-show">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default text-center">
				  <div class="panel-image">
				 
				  <% if @contact.picture? %>
				  	<%= image_tag(@contact.picture.url) %>
				  <% elsif @contact.gender_id == 1 && @contact.picture != "" %>
				    <%= image_tag('avatar-male.jpg') %>
				  <% elsif @contact.gender_id == 2 && @contact.picture != "" %>
					   <%= image_tag('avatar-female.jpg') %>
				  <% end %>

				  </div>
				  <div class="panel-footer">
				  	<h4><%= link_to @contact.name, "#" %></h4>
				  </div>
				</div>
			</div>

			<div class="col-md-8">
				<h2 class="edit-contact">Edit Contact</h2>
				<%= render 'contacts/form' %>
			</div>

		</div>
	</div>
</div>
