<section id="about">
	<div class="about-content">
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-2">
					<div class="category-filter">
						<div class="panel panel-default">
						 <ul class="list-group">
						 		<li class="list-group-item"><%= link_to "All", user_contacts_path %><span class="badge"><%= %></span></li>
 								<% Category.all.each do |category| %>
 									<li class="list-group-item"><%= link_to category.name, user_contacts_path(category: category.name) %><span class="badge"><%= category.contacts.count %></span></li>
 								<% end %>
						    </ul>
						</div>
					</div>
				</div> -->
				<div class="col-md-6 col-md-offset-3">
					<%= render "search_form" %>
				</div>
				
				
				<div class="col-md-12">
					<div id="contacts">

						<%= render "contacts" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>